@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
}

input:focus {
  outline: none;
}

.font-inter {
  font-family: var(--font-inter);
}
.main__button.active {
  @apply bg-transparent text-primary border-primary;
}

.dir-dynamic {
  direction: ltr;
}

html[lang="ar"] .dir-dynamic {
  direction: rtl;
}

html[lang="ar"] * {
  font-family: var(--font-cairo);
}
html[lang="ar"] .flip-dynamic {
  @apply -scale-x-100;
}

.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_volume-button {
  @apply !text-hover;
}
.rhap_progress-filled,
.rhap_progress-indicator,
.rhap_volume-indicator {
  @apply !bg-hover;
}

.container {
  @apply mx-auto px-3 md:px-10;
}

.section {
  @apply py-20;
}

.swiper-button-prev:after {
  color: white;
}
.swiper-button-next:after {
  color: white;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
