@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
}

input:focus {
  outline: none;
}

.font-inter {
  font-family: var(--font-inter);
}

.container {
  @apply mx-auto px-3 md:px-10;
}

section {
  @apply py-20;
}

.swiper-button-prev:after {
  color: white;
}
.swiper-button-next:after {
  color: white;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
