@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
}

input:focus {
  outline: none;
}

.font-inter {
  font-family: var(--font-inter);
}
.main__button.active {
  @apply bg-transparent text-primary border-primary;
}

.dir-dynamic {
  direction: ltr;
}

html[lang="ar"] .dir-dynamic {
  direction: rtl;
}

html[lang="ar"] * {
  font-family: var(--font-cairo);
}
html[lang="ar"] .flip-dynamic {
  @apply -scale-x-100;
}

.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_volume-button {
  @apply !text-hover;
}
.rhap_progress-filled,
.rhap_progress-indicator,
.rhap_volume-indicator {
  @apply !bg-hover;
}

.container {
  @apply mx-auto px-3 md:px-10;
}

.section {
  @apply py-20;
}
textarea:focus,
input:focus {
  outline: none;
}
input,
textarea {
  @apply relative bg-light-100 my-1 rounded-md w-full py-3 px-6;
}

.optional {
  position: relative;
}
.optional::after {
  content: "optional";
  @apply z-20 absolute end-4 text-xs text-foreground/40 font-medium uppercase top-5;
}
html[lang="ar"] .optional::after {
  content: "اختياري";
}

small {
  @apply -mt-2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-button-prev:after {
  color: white;
}
.swiper-button-next:after {
  color: white;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
